.social{
  &__title{
    color: $secondary-color;
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px
  }
  &__icon{
    display: inline-flex;
    width: one-hundred-seventy-px();
  }
  &__icon--facebook{
    fill: $blue-color;
    fill-opacity: 0;
    stroke: $color-yellow;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd;
    &:hover{
      stroke: $red-bg-color;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--twitter{
    fill: $blue-color;
    fill-opacity: 0;
    stroke: $color-yellow;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd;
    &:hover{
      stroke: $red-bg-color;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--youtube{
    fill: $blue-color;
    fill-opacity: 0;
    stroke: $color-yellow;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd;
    &:hover{
      stroke: $red-bg-color;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--instagram{
    fill: $color-yellow;
    fill-rule: evenodd;
    &:hover{
      fill: $red-bg-color;
      transition: all 0.5s ease-out;
    }
  }
}